html{
	position: relative;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: arial;
}
body{
	margin-top:3rem;
	margin-left:2.5rem;
}
header{
}
section{
	background-color: white;
	width: 74vw;
	margin-left: 22vw;

}
.menu{
	background-color: white;
	height: 90vh;
	width: 20vw;
	text-align: center;
	padding-top: 2rem;
	position: fixed;
}
.menuLinks{
	padding-top: 2rem;
	font-size: 2.5vw;
	text-decoration: none;
	text-align: left;
}
.dropdownLink{
	padding: 1rem;
}

.socialMedia{
	margin-top: 5vh;
	width: 20vw;
}
.socialMediaIcon{
	width: 10%;
	padding: 0.5rem;
	height:auto;
}

/*you need to put text dec on all anchors in html5*/
a.grayedOut:hover, a.grayedOut:visited, a.grayedOut:link, a.grayedOut:active{
	color: gray;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}
.pageContent{
	text-align: center;
}

 


.copyright{ /*All Rights Reserved*/
	color: gray;
	font-size: 10px;
	text-align: right;
}
/*image control, name it something less bad*/
.headVideo{
	width: 100%;
	height: auto;
}

.headerImage{ /*this is the name image*/
	max-width: 100%;
	height: auto;
}
.contentImage{
	padding: 5rem;
	height: auto;
	width: 60vw;
}