html{
	position: relative;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: arial;
    z-index: 0;
}
body{
	margin-top:3rem;
	margin-left:2.5rem;
}
header{
}
section{
	background-color: white;
	width: 74vw;
	margin-left: 22vw;

}
.introHeader{

}
.introcontainer{
	width: 95vw;
	display: flex;
	height: 90vh;
}
.introImage{
	width: 50%;
}
.welcomeImg{
	max-width: 50vw;
	max-height: auto;
}

.introOptions{
	width: 50%;
	display: flex;
	flex-direction: column;
	font-family: 'Josefin Sans', sans-serif;
}
.welcomeMsg{
	text-align: center;
	font-size: 2rem;
}
.option{
	margin-top: 5%;
	margin-left: 20%;
	background-color: pink;
	width: 60%;
	height: 25%;
}
.optionText{
	text-align: center;
	width: 100%;
	height: 65%;
	padding-top: 15%;
	font-size: 4rem;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}





