html{
	position: relative;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: arial;
    z-index: 0;
}
body{
	margin-top:3rem;
	margin-left:2.5rem;
}
header{
}
section{
	background-color: white;
	width: 74vw;
	margin-left: 22vw;

}
.introcontainer{
	width: 95vw;
	display: flex;
	height: 90vh;
}
.introImage{
	width: 50%;
}

/*animation for fading in*/
@keyframes introimg{
	0% {
		transform: translate(-500%,0);
		opacity: 0%;
	}
	60%{
		opacity: 20%;
	}
	100%{

	}
}
@keyframes introopt{
	0% {
		transform: translate(500%,0);
		opacity: 0%;
	}
	60%{
		opacity: 20%;
	}
	100%{

	}
}

.welcomeImg{
	max-width: 50vw;
	max-height: auto;
	animation: 1.5s introimg;
}
.socialmediaLinks{
	padding-top: 2rem;
	text-align: center;
	height: 10%;
}
.icon{
	height: 2rem;
	width: auto;
	padding: 1rem;
	transition: 0.2s ease;
	filter: invert(83%) sepia(0%) saturate(976%) hue-rotate(121deg) brightness(88%) contrast(84%);
}
.icon:hover{
	transition: 0.2s ease;
	height: 2.5rem;
	width: auto;
	z-index: 1;
	filter: invert(36%) sepia(39%) saturate(6942%) hue-rotate(233deg) brightness(104%) contrast(85%);
}

.introOptions{
	width: 50%;
	display: flex;
	flex-direction: column;
	font-family: 'Josefin Sans', sans-serif;
	animation: 1.5s introopt;
}
.welcomeMsg{
	text-align: center;
	font-size: 2rem;
}
.option{
	margin-top: 5%;
	margin-left: 20%;
	background-color: pink;
	width: 60%;
	height: 25%;
	transition: 0.2s ease;
}
.optionText{
	text-align: center;
	width: 100%;
	height: 65%;
	padding-top: 15%;
	font-size: 4rem;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.option:hover{
	width: 70%;
	background-color: #d6c3d3;
	transition: 0.2s ease;
}

footer{
	color: gray;
	font-size: 1rem;
	text-align: left;
	font-family: arial;

}





